::selection {
  color: #0f1112; /* Text color */
  background: #dcd5ea; /* Highlight background */
  border-radius: 3px;
  text-shadow: none; /* Remove shadows for clarity */
}
::-webkit-selection {
  /* Safari & Chrome */
  color: #0f1112;
  background: #dcd5ea;
  border-radius: 3px;
}
::-moz-selection {
  /* Firefox */
  color: #0f1112;
  background: #dcd5ea;
  border-radius: 3px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
