::selection {
  color: #0f1112; /* Text color */
  background: #dcd5ea; /* Highlight background */
  border-radius: 3px;
  text-shadow: none; /* Remove shadows for clarity */
}
::-webkit-selection {
  /* Safari & Chrome */
  color: #0f1112;
  background: #dcd5ea;
  border-radius: 3px;
}
::-moz-selection {
  /* Firefox */
  color: #0f1112;
  background: #dcd5ea;
  border-radius: 3px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-from {
  transform: translateY(10px);
}
.fade-leave-to {
  transform: translateY(-10px);
}
